<app-page-header [heading]="'Inspections'" [icon]="'fa-edit'"></app-page-header>

<div class="card mb-3">
    <div class="card-header">Striped Rows</div>
    <div class="card-block table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Remark</th>
                <th>Inspektor</th>
                <th>Created</th>
                <th>Modified</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dpRequest of dpRequests">
                <td (click)="onSelect(dpRequest)">{{dpRequest.id}}</td>
                <td>{{dpRequest.remark}}</td>
                <td>{{dpRequest.inspector?.firstname}} {{dpRequest.inspector?.lastname}}</td>
                <td>{{dpRequest.created * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{dpRequest.modified * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
                <td routerLink="/inspections/{{dpRequest.id}}">Checklist</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
