<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">

        <!--DirectPaymentRequests-->
        <a [routerLink]="['/requests']" [routerLinkActive]="['router-link-active']" *ngIf="authService.hasRole(['Admin', 'Farmer', 'Canton'])" class="list-group-item">
            <i class="fa fa-fw fa-envelope-o"></i>&nbsp;Requests
        </a>
        <!--Inspections-->
        <a [routerLink]="['/inspections']" [routerLinkActive]="['router-link-active']"
           *ngIf="authService.hasRole(['Admin', 'Inspector', 'Canton'])" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;Inspections
        </a>
        <!--Contributions-->
        <a [routerLink]="['/contributions']" [routerLinkActive]="['router-link-active']" *ngIf="authService.hasRole(['Admin'])" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;Contributions
        </a>

        <!--APayment Token-->
        <a [routerLink]="['/token']" [routerLinkActive]="['router-link-active']"
           *ngIf="authService.hasRole(['Admin', 'Canton'])" class="list-group-item">
            <i class="fa fa-fw fa-money"></i>&nbsp;Tokens
        </a>

    </ul>
</nav>
