<app-page-header [headers]="header" [icon]="'fa-edit'"></app-page-header>
{{dpRequest | json }}
<div *ngIf="dpRequest">
    <div *ngIf="authService.hasRole(['Canton', 'Admin'])">
        <h4>Requester</h4>
        <address>
            <strong>Twitter, Inc.</strong><br>
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <address>
            <strong>{{dpRequest.user?.firstname}} {{dpRequest.user?.lastname}}</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>

    </div>

    <h4>Beitragsgesuch für Direktzahlungen und Einzelkulturbeiträge</h4>
    <ul>
        <li *ngFor="let contribution of dpRequest.contributions">
            {{contribution.code}} - {{contribution.name}}
        </li>
    </ul>

    <h4>Remark</h4>
    <p>{{dpRequest.remark}}</p>

    <div *ngIf="authService.hasRole(['Farmer'])">
        <h4 *ngIf="dpRequest.inspector">Inspector</h4>
        <p>{{dpRequest.inspector?.firstname}} {{dpRequest.inspector?.lastname}}</p>
    </div>
    <div *ngIf="authService.hasRole(['Canton', 'Admin'])">
    <h4>Assign Inspector</h4>
    <div class="form-group">
        <select class="form-control" [(ngModel)]="dpRequest.inspector">
            <option *ngFor="let inspector of inspectors" [ngValue]="inspector" [selected]="inspector.id === dpRequest.inspector?.id" >{{inspector.firstname}} {{inspector.lastname}}</option>        </select>
    </div>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()" [disabled]="!dpRequest.inspector" *ngIf="authService.hasRole(['Canton', 'Admin'])">Save</button>
</div>
