<div class="login-page">
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar"/>
            <h1>Login</h1>
            {{errMsg}}
            <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
                <div class="form-content">
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <input type="text" class="form-control input-underline input-lg"
                               name="username" placeholder="Username" [(ngModel)]="model.username"
                               #username="ngModel" required/>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is
                            required
                        </div>
                    </div>

                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <input type="text" class="form-control input-underline input-lg"
                               name="password" placeholder="Password" [(ngModel)]="model.password"
                               #password="ngModel" required/>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is
                            required
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!f.form.valid">Login</button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
