/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.line-breaker {
    white-space: pre-line;
}

.link {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}
