<app-page-header [heading]="'Profile'" [icon]="'fa-edit'"></app-page-header>


<div *ngIf="!user?.AnimalHusbandryDetailResult">
    No TVD Profile found.
</div>
<div *ngIf="user?.AnimalHusbandryDetailResult">
    <div class="card mb-3">
        <div class="card-header">
            Personal Information
        </div>
        <div class="card-block table-responsive">
            asdf
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Plant
        </div>
        <div class="card-block table-responsive">
            asdf
        </div>
    </div>
</div>
