<app-page-header [heading]="'Profile'" [icon]="'fa-edit'"></app-page-header>


<div *ngIf="!user?.AnimalHusbandryDetailResult">
    No TVD Profile found.
</div>
<div *ngIf="user?.AnimalHusbandryDetailResult">
    <div class="card mb-3">
        <div class="card-header">
            Personal Information
        </div>
        <div class="card-block table-responsive">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Farm
        </div>
        <div class="card-block table-responsive">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
        </div>
    </div>
</div>
