<app-page-header [heading]="'Requests'" [icon]="'fa-edit'"></app-page-header>



<p *ngIf="!addingDpRequest">
    <button type="button" class="btn btn-primary" (click)="addRequest()">New Request</button>
</p>

<div class="card mb-3" *ngIf="addingDpRequest">
    <div class="card-header">
        New Request
        <span class="pull-right" (click)="close($event)">
         <i class="fa fa-times"
            aria-hidden="true"></i>
        </span>
    </div>
    <div class="card-block table-responsive">
        <app-dp-request-new (close)="close($event)"></app-dp-request-new>
    </div>
</div>


<div class="card mb-3">
    <div class="card-header">Striped Rows</div>
    <div class="card-block table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Remark</th>
                <th>Inspektor</th>
                <th>Created</th>
                <th>Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dpRequest of dpRequests" routerLink="/requests/{{dpRequest.id}}">
                <td (click)="onSelect(dpRequest)">{{dpRequest.id}}</td>
                <td>{{dpRequest.remark}}</td>
                <td>{{dpRequest.inspector?.firstname}} {{dpRequest.inspector?.lastname}}</td>
                <td>{{dpRequest.created * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
                <td>{{dpRequest.modified * 1000 | date:'dd.MM.yyyy HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
